<h3>Viacom18 Demo Project</h3>
<hr/>
<nav class="navbar">

    <!-- logo -->
    <div class="navbar-brand">


      <a class="navbar-item">
        <button type="button"  class="btn btn-link" (click)="home()">Home</button>
        <button type="button" class="btn btn-link" (click)="addItems()">Add Items</button>
        <button type="button" class="btn btn-link" (click)="listItems()">List Items</button>


        <button type="button" class="btn btn-link">Logout</button>

      </a>


    </div>


  </nav>
  <hr/>