<p>List of notifications</p>



<table class="table table-hover" *ngIf="flagViewList">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Invite Id</th>
        <th scope="col">sender Id</th>
        <th scope="col">status</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let data of data">  
            <td>#   </td>
            <td>{{data.invite_id}}</td>
            <td>{{data.sender_id}}</td>
            <td>{{data.status}}</td>
            <td><button (click)="view(data.invite_id)"></button></td>
        </tr>
    </tbody>
  </table>

  <table class="table table-hover" *ngIf="!flagViewList">
    <thead *ngFor="let abc of abc"> 
      <tr>
        <th scope="col">Invite Id</th>
        <th scope="col">{{abc.invite_id}}</th>
      </tr>
      <tr>
        <th scope="col">sender Id</th>
        <th scope="col">{{abc.sender_id}}</th>
      </tr>
      <tr>
        <th scope="col">SiG Id</th>
        <th scope="col">{{abc.sig_id}}</th>
      </tr>
      <tr>
        <th scope="col">invite_time</th>
        <th scope="col">{{abc.invite_time}}</th>
      </tr>
      <tr>
        <th scope="col">invite</th>
        <th scope="col">{{abc.invite}}</th>
      </tr>
      <tr>
        <th scope="col">vector</th>
        <th scope="col">{{abc.vector}}</th>
      </tr>
      <tr>
        <th scope="col">status</th>
        <th scope="col">{{abc.status}}</th>
      </tr>
      <button (click)= "back()">back</button>
    </thead>
    
  </table>